<!DOCTYPE html>
<html>
  <head>
    <title>Communique</title>
    <%= csrf_meta_tags %>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato|Lora" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.snow.css">
    <%= javascript_include_tag 'application' %>
    <script src="https://widget.cloudinary.com/global/all.js" charset="utf-8"></script>
    <script>
      <% if logged_in? %>
        window.currentUser = <%== render partial: 'api/users/user.json', locals: { user: current_user } %>;
      <% end %>
      window.CLOUDINARY_OPTIONS = {
        cloud_name: '<%= ENV['CLOUD_NAME'] %>',
        upload_preset: '<%= ENV['UPLOAD_PRESET'] %>'
      };
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
